@font-face{
  font-family: jeopardy;
  src: url('../fonts/gyparody.ttf')
}

html {
  background-color: #060CE9;
  color: white;
  width: 100%;
}

h1 {
  color: white;
  text-align: center;
  font-size: 500%;
  font-family: jeopardy;
}

th {
  font-size: 150%;
}

td {
  text-align: center;
  color: #ffd700;
  font-size: 250%;
  font-weight: bolder;
}

table {
  align-items: center;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  border-color: #ffd700;
}
